version: "3.8"

services:
  web:
    build:
      context: .
      args:
    TAG: ${TAG:-latest}   # default 'latest' jika tidak di-set
    image: myweb:${TAG:-latest}
    container_name: myweb-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    depends_on:
      - web
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    restart: unless-stopped
